*.beam
*.ez
gleam/build
gleam/erl_crash.dump
gleam/node_modules
gleam/libraries/*/node_modules
data/*
!data/.gitkeep
!data/data_augment.ipynb
!data/model.ipynb
jupyter/models/*
!jupyter/models/.gitkeep
models/test
!gleam/src/data
.DS_Store
