*.beam
*.ez$
build
node_modules
.ipynb_checkpoints
gleam/build
gleam/erl_crash.dump
gleam/node_modules
gleam/libraries/*/node_modules
data/*
!data/.gitkeep
!data/data_augment.ipynb
!data/model.ipynb
jupyter/models/*
!jupyter/models/.gitkeep
models/test
!gleam/src/data
.DS_Store
_elixir_ls/
_build/
*.ez
*.firm
*.img
*.img.gz
rootfs_additions
rel
tmp
elixir/deps